.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #111;
}

.nav__contents {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    position: fixed;
    left: 20px;
    color: #E50914;
    font-family: 'Arial Black', Impact, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
    cursor: pointer;
}

.nav__avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    cursor: pointer;
}